.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
footer{
}

header{
color: white;
text-align: center;
font-size: 45px;
border: 2px solid tomato;
padding: 15px;
text-decoration: underline;
margin: 10px;

}

header::first-letter{
    color: MediumSeaGreen; 
    text-decoration: overline;
}
footer{
font-size: 15px;
text-decoration: underline;
color: white; 
text-align: center; 
displfay: block;
background-color: black;
padding: 5px;
}


.shead {
color: rgb(235, 235, 235);
display: block;
background-color: rgba(150, 0, 0, 0.7);
text-align: center; 
text-decoration: underline;
font-size: 27px;
padding: 10px;
border: 1px solid gray;
}
.heads {
color: rgb(235, 235, 235);
display: block;
background-color: rgba(255, 255, 0, 0.6);
text-align: center; 
text-decoration: underline;
font-size: 27px;
padding: 10px;
border: 1px solid gray;
}

ul li.skl {
font-size: 27px;
font-weight: bold;
font-family: Times-new Roman;
color: rgb(225, 225, 225)
}

ol li.skl1 {
font-size: 20px;
font-style: italic;
font-family: Tahoma;
color: tomato;
}

ul.skl2 {
font-size: 17px;
color: rgb(255, 255, 0);
font-family: Cucida Console;
}

ul.skl2 li a:visited {
  color: rgb(255, 255, 0);
}

ul.skl2 li a:hover{
  color: rgb(0, 255, 0);
}

ul.topnav {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #111111;
border: 2px solid black;
}

ul.topnav li {
float: left;
}

ul.topnav li a{
  display: block;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: underline;
}

.right{
float: right;
}

ul.topnav li a:hover{
background-color: #000000;
}

.drpdwn{
  display: block;
  color: black;
  background-color: rgb(150, 150, 150);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  z-index: 1;
}
div {
    display: block;
    text-align: center;
    font-size: 40px;
}

div p.drpdwn{
display: none;
}
div:hover .drpdwn{
    display: inline-block;
    font-size: 18px;
}

p::first-line {
    color: tomato;
}
.para {
color : yellow;
text-align : left;
font-family : courier;
border : 1px solid tomato;
padding : 20px;
margin : 30px;
background-color:rgba(0, 0, 0, 0.6); 
font-size:16px;
}

.para1 {
color : rgb(0, 255, 0);
text-align : left;
font-family : courier;
border : 1px solid tomato;
padding : 20px;
margin : 30px;
background-color:rgba(0, 0, 0, 0.6); 
font-size:16px;
}

.para2 {
color : rgb(220, 220, 220);
text-align : center;
font-family : courier;
border : 1px solid MediumSeaGreen;
padding : 20px;
margin : 30px;
background-color:rgba(0, 0, 0, 0.6); 
font-size:16px;
}

img{
opacity: 0.5;
max-width: 25vw;
}

header img{
    opacity: 1.0;
}
img:hover {
opacity: 1.0
}

@media screen and (max-width: 600px) {
  li { 
    float: none; 
  }
}